h1 {
    font-weight: bold;
    font-size: 50px;
}

h1, #intro {
    text-align: center;
    margin: 20px;
}

#groupfinder-form {
    display: inline;
    width: 200px;
}

#groupfinder-form>*>*>*, #groupfinder-form>*>*>*>* {
    margin: 5px;
}

#name-field, #number-in-party, date-field {
    margin: bottom;
}

.in-form {
    font-weight: bold
}

#queue-container {
    display: inline;
    width: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#queue-container>p {
    font-weight: bold;
    text-align: center;
}

#form-and-queue {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 550px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

#queue-list>* {
    margin-top: 5px;
}

.group-name {
    font-weight: bold;
}

.group-rooms {
    font-weight: normal;
}